# Папка сборки
build/

# Исполняемые файлы
*.exe
*.out
*.app

# Объектные файлы
*.o
*.obj

# Статические библиотеки
*.a
*.lib

# Папки зависимостей (если есть)
CPP_BUILDER/

# Временные файлы
*.tmp
*.temp

# Файлы IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log